body {
    background-color: black;
}

h1 {
    color: rgba(255, 0, 0, 0.479);
    padding-left: 888px;
    padding-top: 10px;
    font-size: 25px;
}

h2 {
  color: brown;
  position: absolute;
  bottom: 800px;
  font-size: 30px;
}

.frame {
  position: absolute; 
  top: 50px;       
  left: 0;          
  width: 400px;      
  height: 450px;      
  border: 2px solid rgba(255, 0, 0, 0.13);
  z-index: 1;       
  pointer-events: none; 
  border-radius: 20px;
}

.photo-2 {
  position: absolute;
  bottom: 826px;
  right: 1570px;
  width: 30px;
  height: 30px;
}

#text {
  color: rgb(0, 228, 102);
  position: absolute;
  bottom: 770px;
  font-size: 20px;
  right: 1786px;
}

h3 {
  color: brown;
  position: absolute;
  bottom: 650px;
  font-size: 30px;
}

#border {
  position: absolute; 
  top: 504px;       
  left: 0;          
  width: 520px;      
  height: 360px;      
  border: 2px solid rgba(255, 0, 0, 0.13);
  z-index: 1;       
  pointer-events: none; 
  border-radius: 20px;
}

.photo-3 {
  position: absolute;
  bottom: 682px;
  right: 1570px;
  width: 30px;
  height: 30px;
}

.text-2 {
  color: rgb(0, 228, 102);
  position: absolute;
  bottom: 622px;
  font-size: 20px;
  right: 1786px;
}

h4 {
  color: brown;
  position: absolute;
  bottom: 500px;
  font-size: 30px;
}

.text-3 {
  color: rgb(0, 228, 102);
  position: absolute;
  bottom: 480px;
  font-size: 20px;
  right: 1858px;
}

.photo-4 {
  position: absolute;
  bottom: 528px;
  right: 1745px;
  width: 120px;
  height: 60px;
}

h5 {
  color: brown;
  position: absolute;
  bottom: 300px;
  font-size: 30px;
}

.text-4 {
  color: rgb(0, 228, 102);
  position: absolute;
  bottom: 280px;
  font-size: 20px;
  right: 1714px;
}

h6 {
  color: brown;
  position: absolute;
  bottom: 120px;
  font-size: 30px;
}

.text-5 {
  color: rgb(0, 228, 102);
  position: absolute;
  bottom: 130px;
  font-size: 20px;
  right: 1858px;
}

.photo-5 {
  position: absolute;
  bottom: 355px;
  right: 1450px;
  width: 30px;
  height: 20px;
}

.photo-6 {
  position: absolute;
  bottom: 180px;
  right: 1745px;
  width: 120px;
  height: 60px;
}

.photo {
    width: 450px;
    height: 350px;
    padding-left: 720px;
    padding-top: 200px;
    pointer-events: none;
}

.blink-photo {
  position: absolute;  
  width: 26px;               
  height: 20px;
  padding-left: 985px;
  padding-top: 14px;
  animation: blink 3s infinite; 
}

/* описание анимации */
@keyframes blink {
  0% { filter: brightness(100%); }
  50% { filter: brightness(0%); }
  100% { filter: brightness(100%); }
}
